<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.first_name}}</title>
</head>
<body>
  <img src="{{user.image_url}}" alt="profile pic">
  <h2>{{user.first_name}} {{user.last_name}}</h2>
  <a href="/">Return to Users List</a>


  <form>
    <!-- <button class="btn btn-primary btn-sm"
            formaction="/users/{{ user.id }}/edit"
            formmethod="GET">Edit
    </button> -->

    <button class="btn btn-primary btn-sm"
              formaction="/{{ user.id }}/edit"
              formmethod="GET">Edit
      </button>

    <button class="btn btn-danger btn-sm"
            formaction="/{{ user.id }}/delete"
            formmethod="POST">Delete
    </button>
        
    <!-- <button formmethod="POST">
        Add Post
    </button> -->
  </form>

  <a href="/post/{{user.id}}/new">Add Post</a>

  <h1>Posts</h1>

  <ul>
    {% for post in user.posts %}
    <li>
      <a href="/{{ post.id}}/new_post">{{ post.title }}</a>
      <!-- <small>{{ post.friendly_date }}</small> -->
    </li>
    {% endfor %}
  </ul>



  <!-- '/<int:post_id>/new_post' -->
  
</body>
</html>